.container{
    text-align: center;
    margin-top: 250px;
    font-family: sans-serif;
}

h1{
    font-size: 70px;
    color: rgb(255, 94, 0);
}

button{
    outline: none;
    font-size: 30px;
    cursor: pointer;
    background-color: rgb(255, 94, 0);
    border: 1px solid black;
    border-color: black;
    border-radius: 2px;
}